In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("../Data/heart.csv")
df.head(10)

   Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0   40   M           ATA  ...      0.0        Up             0
1   49   F           NAP  ...      1.0      Flat             1
2   37   M           ATA  ...      0.0        Up             0
3   48   F           ASY  ...      1.5      Flat             1
4   54   M           NAP  ...      0.0        Up             0
5   39   M           NAP  ...      0.0        Up             0
6   45   F           ATA  ...      0.0        Up             0
7   54   M           ATA  ...      0.0        Up             0
8   37   M           ASY  ...      1.5      Flat             1
9   48   F           ATA  ...      0.0        Up             0

[10 rows x 12 columns]

In [ ]:
#droppig columns that have low correlation score in eda
df_processed = df.drop(['Cholesterol', 'MaxHR'], axis=1)
df_processed.head(10)

   Age Sex ChestPainType  ...  Oldpeak  ST_Slope HeartDisease
0   40   M           ATA  ...      0.0        Up            0
1   49   F           NAP  ...      1.0      Flat            1
2   37   M           ATA  ...      0.0        Up            0
3   48   F           ASY  ...      1.5      Flat            1
4   54   M           NAP  ...      0.0        Up            0
5   39   M           NAP  ...      0.0        Up            0
6   45   F           ATA  ...      0.0        Up            0
7   54   M           ATA  ...      0.0        Up            0
8   37   M           ASY  ...      1.5      Flat            1
9   48   F           ATA  ...      0.0        Up            0

[10 rows x 10 columns]

In [8]:
encoder = OneHotEncoder(sparse_output=False)
categorical_columns = ["Sex", "ChestPainType", "RestingECG", "ExerciseAngina", "ST_Slope"]
one_hot_encoded = encoder.fit_transform(df[categorical_columns])
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(categorical_columns))
df_processed_encoded = pd.concat([df.drop(categorical_columns, axis=1), one_hot_df], axis=1)
df_processed_encoded.head(10)

   Age  RestingBP  Cholesterol  ...  ST_Slope_Down  ST_Slope_Flat  ST_Slope_Up
0   40        140          289  ...            0.0            0.0          1.0
1   49        160          180  ...            0.0            1.0          0.0
2   37        130          283  ...            0.0            0.0          1.0
3   48        138          214  ...            0.0            1.0          0.0
4   54        150          195  ...            0.0            0.0          1.0
5   39        120          339  ...            0.0            0.0          1.0
6   45        130          237  ...            0.0            0.0          1.0
7   54        110          208  ...            0.0            0.0          1.0
8   37        140          207  ...            0.0            1.0          0.0
9   48        120          284  ...            0.0            0.0          1.0

[10 rows x 21 columns]

Preprocessing decision:
- Dropped columns: "Sex", "ChestPainType", "RestingECG", "ExerciseAngina", "ST_Slope"
- Categorical encoding: OneHot
- Scaling: StandardScaler